@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #334155;
  --color-accent: #0ea5e9;
  --color-background: #f8fafc;

  --font-sans: "Inter", sans-serif;
  --font-logo: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-primary antialiased;
  }
}

@theme {
  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee2: marquee2 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}